<div class="form-wrapper">
    <form class="form-box" (ngSubmit)="register()" #form="ngForm" *ngIf="!isSuccess">

        <h2>Cadastro de Usuário</h2>

        <p *ngIf="messageError" class="message-error">* {{ messageError }}</p>

        <label>Nome</label>
        <input type="text" name="nome" [(ngModel)]="user.name" required />

        <label>Email</label>
        <input type="email" name="email" [(ngModel)]="user.email" required />

        <label>Senha</label>
        <input type="password" name="senha" [(ngModel)]="user.password" required />

        <button type="submit" [disabled]="form.invalid">Cadastrar</button>

        <div class="form-footer">
            <h4>já tem cadastro? </h4><a routerLink="/login">clique aqui</a>
        </div>
    </form>

    <div class="success-message" *ngIf="isSuccess">
        <h2>Cadastro realizado com sucesso!</h2>
        <p>Agora você pode fazer login.</p>
        <a routerLink="/login">Clique aqui para fazer login</a>
    </div>
</div>